#### 학습목표
- 데이터 타입 : Series , DataFrame 
- Pandas 통해서 데이터분석과 시각화(matplotlib , seaborn, folium)
- 분석 : 기술적 통계 분석 , 탐색적 데이터 분석(EDA)

- series(index + value) 
- pd.Serires() : 객체 생성 
- index : 정수, 문자, 날짜, 시간 인덱스가 가능하고 인덱스는 중복을 허용하지 않는다

In [7]:
import numpy  as np
import pandas as pd 
import matplotlib.pyplot as plt 
import json   as j 

import warnings
warnings.filterwarnings('ignore')

print('numpy   version , ' , np.__version__)
print('pandnas version , ' , pd.__version__)

numpy   version ,  1.24.3
pandnas version ,  1.5.3

In [16]:
lst = [1,2,3,4,5]
print('type - ' , type(lst))
ary = np.array(lst)
print('type - ' , type(ary))
series = pd.Series(ary) 
print('type - ' , type(series))
print()
print(series)
print('index  - ' , series.index)
print('values - ' , series.values , type(series.values))
print('dtype  - ' , series.dtype)

type -  <class 'list'>
type -  <class 'numpy.ndarray'>
type -  <class 'pandas.core.series.Series'>

0    1
1    2
2    3
3    4
4    5
dtype: int32
index  -  RangeIndex(start=0, stop=5, step=1)
values -  [1 2 3 4 5] <class 'numpy.ndarray'>
dtype  -  int32

In [19]:
def aryInfo(ary) : 
    print('type - ' , type(ary)) 
    print('shape - ' , ary.shape)
    print('ndim  - ' , ary.ndim)
    print('dtype - ' , ary.dtype)
    print()
    print('data  -')
    print(ary) 

def seriesInfo(s) :
    print('type   - ' , type(s)) 
    print('index  - ' , s.index) 
    print('values - ' , s.values)
    print('dtype  - ' , s.dtype)
    print()
    print('data  -')
    print(s)

In [22]:
series = pd.Series({'idx01' : 1 , 'idx02' : 2 , 'idx03' : 3}) 
seriesInfo(series)

type   -  <class 'pandas.core.series.Series'>
index  -  Index(['idx01', 'idx02', 'idx03'], dtype='object')
values -  [1 2 3]
dtype  -  int64

data  -
idx01    1
idx02    2
idx03    3
dtype: int64

In [26]:
series = pd.Series(data  = [1,2,3,4,5] , 
                   index = ['서초', '강남', '삼성', '송파' , '서구'])
seriesInfo(series)

type   -  <class 'pandas.core.series.Series'>
index  -  Index(['서초', '강남', '삼성', '송파', '서구'], dtype='object')
values -  [1 2 3 4 5]
dtype  -  int64

data  -
서초    1
강남    2
삼성    3
송파    4
서구    5
dtype: int64

In [31]:
print('시리즈에 이름을 부여하는 것도 가능하다 - ') 
series = pd.Series(data  = ('임섭순' , '2023-09-18' , '남자' , True) , 
                   index = ['이름', '생년월일', '성별', '결혼여부'])
series.name = '사용자 정보'
series.index.name = '신상정보' 
seriesInfo(series)

시리즈에 이름을 부여하는 것도 가능하다 -
type   -  <class 'pandas.core.series.Series'>
index  -  Index(['이름', '생년월일', '성별', '결혼여부'], dtype='object', name='신상정보')
values -  ['임섭순' '2023-09-18' '남자' True]
dtype  -  object

data  -
신상정보
이름             임섭순
생년월일    2023-09-18
성별              남자
결혼여부          True
Name: 사용자 정보, dtype: object

In [46]:
print(series)
print()
print('indexing -')
print(series[0] , series['이름'])

print()
print('멀티 인덱싱하고 싶다면? - []') 
print(series[ [0,2] ] , 'type - ' , type(series[ [0,2] ]))
print(series[ ['이름','성별'] ] , 'type - ' , type(series[ ['이름','성별'] ]))

print()
print('범위 지정하여 인덱싱을하고 싶다면? - ') 
print(series[0 : 3])

신상정보
이름             임섭순
생년월일    2023-09-18
성별              남자
결혼여부          True
Name: 사용자 정보, dtype: object

indexing -
임섭순 임섭순

멀티 인덱싱하고 싶다면? - []
신상정보
이름    임섭순
성별     남자
Name: 사용자 정보, dtype: object type -  <class 'pandas.core.series.Series'>
신상정보
이름    임섭순
성별     남자
Name: 사용자 정보, dtype: object type -  <class 'pandas.core.series.Series'>

범위 지정하여 인덱싱을하고 싶다면? -
신상정보
이름             임섭순
생년월일    2023-09-18
성별              남자
Name: 사용자 정보, dtype: object

In [47]:
print('dir - ' , dir(series))

dir -  ['T', '_AXIS_LEN', '_AXIS_ORDERS', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__array_wrap__', '__bool__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__long__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_add_numeric_operations', '_agg_by_level', '_agg_examples_doc', '_agg_see_also_doc', '_align_frame', '_align_series', '_append', '_arith_method', '_as_manager', '_attrs', '_binop', '_can_hold_na', '_check_inplace_and_allows_duplicate_labels', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_axes_from_arguments', '_construct_result', '_constructor', '_constructor_expanddim', '_convert', '_convert_dtypes', '_data', '_dir_additions', '_dir_deletions', '_drop_axis', '_drop_labels_or_levels', '_duplicated', '_find_valid_index', '_flags', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_cleaned_column_resolvers', '_get_index_resolvers', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_get_values', '_get_values_tuple', '_get_with', '_gotitem', '_hidden_attrs', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_init_dict', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_cached', '_is_copy', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_item_cache', '_ixs', '_logical_func', '_logical_method', '_map_values', '_maybe_update_cacher', '_memory_usage', '_metadata', '_mgr', '_min_count_stat_function', '_name', '_needs_reindex_multi', '_protect_consolidate', '_reduce', '_reindex_axes', '_reindex_indexer', '_reindex_multi', '_reindex_with_indexers', '_rename', '_replace_single', '_repr_data_resource_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_labels', '_set_name', '_set_value', '_set_values', '_set_with', '_set_with_engine', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_stat_function', '_stat_function_ddof', '_take', '_take_with_is_copy', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'argmax', 'argmin', 'argsort', 'array', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'attrs', 'autocorr', 'axes', 'backfill', 'between', 'between_time', 'bfill', 'bool', 'clip', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtype', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'ge', 'get', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'interpolate', 'is_monotonic', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'iteritems', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'mad', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'sem', 'set_axis', 'set_flags', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'squeeze', 'std', 'str', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_markdown', 'to_numpy', 'to_period', 'to_pickle', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs', '결혼여부', '생년월일', '성별', '이름']

In [53]:
for key in series.keys() : 
    print('key - ' , key , series[key])
print()
for value in series.values : 
    print('values - ' , value)
print()
for key, value in series.items() : 
    print('key - ' , key , 'values - ' , value)

key -  이름 임섭순
key -  생년월일 2023-09-18
key -  성별 남자
key -  결혼여부 True

values -  임섭순
values -  2023-09-18
values -  남자
values -  True

key -  이름 values -  임섭순
key -  생년월일 values -  2023-09-18
key -  성별 values -  남자
key -  결혼여부 values -  True

In [66]:
series = pd.Series( range(10, 21) )
# seriesInfo(series)
print('series index  - ' , series.index)
print('series values - ' , series.values , type(series.values))
print('벡터화 연산   - ' , series.values ** 2)
print()
print('시리즈의 데이터가 배열이므로 ')
print('벡터화 연산   - ' , series ** 2)
print()
print('불리언 인덱싱 가능할까? - ') 
print(series.values[ series.values % 2 == 0 ])
print(series[ series % 2 == 0 ])

series index  -  RangeIndex(start=0, stop=11, step=1)
series values -  [10 11 12 13 14 15 16 17 18 19 20] <class 'numpy.ndarray'>
벡터화 연산   -  [100 121 144 169 196 225 256 289 324 361 400]

시리즈의 데이터가 배열이므로
벡터화 연산   -  0     100
1     121
2     144
3     169
4     196
5     225
6     256
7     289
8     324
9     361
10    400
dtype: int64

불리언 인덱싱 가능할까? -
[10 12 14 16 18 20]
0     10
2     12
4     14
6     16
8     18
10    20
dtype: int64

In [83]:
from datetime import date , datetime , timedelta
print('인덱스를 날짜로 사용하고 싶다면? - ') 

today = date(2023 , 9 , 18)
print('today - ' , today)

# print(today + timedelta(days = 25))

print()

print('오늘 날짜부터 10일간의 날짜를 생성하여 시리즈의 인덱스로 사용하고 싶다면 - ')

idx = [ today + timedelta(day) for day in range(10)]
print('idx - ' , type(idx) , idx[0])

인덱스를 날짜로 사용하고 싶다면? -
today -  2023-09-18

오늘 날짜부터 10일간의 날짜를 생성하여 시리즈의 인덱스로 사용하고 싶다면 -
idx -  <class 'list'> 2023-09-18

In [135]:
# series = pd.Series(data  = [ np.random.randint(1, 100) for d in range(10)] , 
#                    index = idx )
series01 = pd.Series(data  = np.random.normal(50 , 5, (10,))  , 
                     index = idx )

series02 = pd.Series(data  = np.random.normal(70 , 8, (10,))  , 
                     index = idx )

# seriesInfo(series)
series03 = series01 + series02 
seriesInfo(series03)

type   -  <class 'pandas.core.series.Series'>
index  -  Index([2023-09-18, 2023-09-19, 2023-09-20, 2023-09-21, 2023-09-22, 2023-09-23,
       2023-09-24, 2023-09-25, 2023-09-26, 2023-09-27],
      dtype='object')
values -  [148.89755859 127.48147921 125.24685465 118.74714467 113.34489616
 121.73653425 117.87212756 118.68956714 131.99105348 120.88308844]
dtype  -  float64

data  -
2023-09-18    148.897559
2023-09-19    127.481479
2023-09-20    125.246855
2023-09-21    118.747145
2023-09-22    113.344896
2023-09-23    121.736534
2023-09-24    117.872128
2023-09-25    118.689567
2023-09-26    131.991053
2023-09-27    120.883088
dtype: float64

In [131]:
print('데이터 갱신 - ') 
series03[0] = 90
print(series03)

데이터 갱신 -
2023-09-18     90.000000
2023-09-19    116.509073
2023-09-20    120.048112
2023-09-21    123.506467
2023-09-22    117.756038
2023-09-23    108.848374
2023-09-24    115.946812
2023-09-25    130.120267
2023-09-26    126.754615
2023-09-27    127.877384
dtype: float64

In [133]:
seriesInfo(series03)

type   -  <class 'pandas.core.series.Series'>
index  -  Index([  2023-09-18,   2023-09-19,   2023-09-20,   2023-09-21,   2023-09-22,
         2023-09-23,   2023-09-24,   2023-09-25,   2023-09-26,   2023-09-27,
       '2023-09-18'],
      dtype='object')
values -  [ 90.         116.50907322 120.04811155 123.50646693 117.75603809
 108.8483743  115.94681244 130.12026747 126.75461503 127.87738408
  80.        ]
dtype  -  float64

data  -
2023-09-18     90.000000
2023-09-19    116.509073
2023-09-20    120.048112
2023-09-21    123.506467
2023-09-22    117.756038
2023-09-23    108.848374
2023-09-24    115.946812
2023-09-25    130.120267
2023-09-26    126.754615
2023-09-27    127.877384
2023-09-18     80.000000
dtype: float64

In [136]:
series03['2023-09-18'] = 80
seriesInfo(series03)

type   -  <class 'pandas.core.series.Series'>
index  -  Index([  2023-09-18,   2023-09-19,   2023-09-20,   2023-09-21,   2023-09-22,
         2023-09-23,   2023-09-24,   2023-09-25,   2023-09-26,   2023-09-27,
       '2023-09-18'],
      dtype='object')
values -  [148.89755859 127.48147921 125.24685465 118.74714467 113.34489616
 121.73653425 117.87212756 118.68956714 131.99105348 120.88308844
  80.        ]
dtype  -  float64

data  -
2023-09-18    148.897559
2023-09-19    127.481479
2023-09-20    125.246855
2023-09-21    118.747145
2023-09-22    113.344896
2023-09-23    121.736534
2023-09-24    117.872128
2023-09-25    118.689567
2023-09-26    131.991053
2023-09-27    120.883088
2023-09-18     80.000000
dtype: float64

In [129]:
print('데이터 삭제 - ') 
print(series03)

데이터 삭제 -
2023-09-18     90.000000
2023-09-19    125.415542
2023-09-20    116.333673
2023-09-21    124.251032
2023-09-22    129.553765
2023-09-23    109.631107
2023-09-24    105.365968
2023-09-25    131.377853
2023-09-26    122.683935
2023-09-27    117.264534
2023-09-18     80.000000
dtype: float64

In [148]:
series03['2023-09-18'] = np.NaN
series03

2023-09-18    148.897559
2023-09-19    127.481479
2023-09-20    125.246855
2023-09-21    118.747145
2023-09-22    113.344896
2023-09-23    121.736534
2023-09-24    117.872128
2023-09-25    118.689567
2023-09-26    131.991053
2023-09-27    120.883088
2023-09-18           NaN
dtype: float64

In [150]:
print('null - 결측값을 의미한다') 
print('pd.isnull() - pd.notnull() ') 
print(pd.isnull(series03))
print()
print(pd.notnull(series03))

print()
series03[ pd.isnull(series03) ] = np.mean(series03) 
print(pd.isnull(series03))

null - 결측값을 의미한다
pd.isnull() - pd.notnull()
2023-09-18    False
2023-09-19    False
2023-09-20    False
2023-09-21    False
2023-09-22    False
2023-09-23    False
2023-09-24    False
2023-09-25    False
2023-09-26    False
2023-09-27    False
2023-09-18    False
dtype: bool

2023-09-18    True
2023-09-19    True
2023-09-20    True
2023-09-21    True
2023-09-22    True
2023-09-23    True
2023-09-24    True
2023-09-25    True
2023-09-26    True
2023-09-27    True
2023-09-18    True
dtype: bool

2023-09-18    False
2023-09-19    False
2023-09-20    False
2023-09-21    False
2023-09-22    False
2023-09-23    False
2023-09-24    False
2023-09-25    False
2023-09-26    False
2023-09-27    False
2023-09-18    False
dtype: bool

In [163]:
print('len  - ' , len(series03))
print('mean - ' , series03.dtype , np.mean(series03))
print()
print('fillna() - 결측값을 원하는 값으로 채우고자 할 때') 
series03[5] = np.NaN
print( series03 )
print('mean - ' , series03.dtype , np.mean(series03))
print()
series03 = series03.fillna(0) 
print()
print( series03 )
print('mean - ' , series03.dtype , np.mean(series03))

len  -  11
mean -  float64 113.4220727562552

fillna() - 결측값을 원하는 값으로 채우고자 할 때
2023-09-18    148.897559
2023-09-19    127.481479
2023-09-20    125.246855
2023-09-21    118.747145
2023-09-22    113.344896
2023-09-23           NaN
2023-09-24    117.872128
2023-09-25    118.689567
2023-09-26    131.991053
2023-09-27    120.883088
2023-09-18    124.489030
dtype: float64
mean -  float64 124.76428003188073


2023-09-18    148.897559
2023-09-19    127.481479
2023-09-20    125.246855
2023-09-21    118.747145
2023-09-22    113.344896
2023-09-23      0.000000
2023-09-24    117.872128
2023-09-25    118.689567
2023-09-26    131.991053
2023-09-27    120.883088
2023-09-18    124.489030
dtype: float64
mean -  float64 113.4220727562552

In [165]:
series03[3] = np.NaN
series03[8] = np.NaN
series03

2023-09-18    148.897559
2023-09-19    127.481479
2023-09-20    125.246855
2023-09-21           NaN
2023-09-22    113.344896
2023-09-23      0.000000
2023-09-24    117.872128
2023-09-25    118.689567
2023-09-26           NaN
2023-09-27    120.883088
2023-09-18    124.489030
dtype: float64

In [166]:
print('subset - 결측값을 제외한 ')
series04 = series03[ pd.notnull(series03) ]
series04

subset - 결측값을 제외한

2023-09-18    148.897559
2023-09-19    127.481479
2023-09-20    125.246855
2023-09-22    113.344896
2023-09-23      0.000000
2023-09-24    117.872128
2023-09-25    118.689567
2023-09-27    120.883088
2023-09-18    124.489030
dtype: float64

In [179]:
dateIdx = date(2023, 9, 18) 
# datetime.strptime('2023-09-18' , '%Y-%m-%d')
print('type - ' , type(dateIdx) , dateIdx ) 
del series04[dateIdx]
series04

type -  <class 'datetime.date'> 2023-09-18

2023-09-19    127.481479
2023-09-20    125.246855
2023-09-22    113.344896
2023-09-23      0.000000
2023-09-24    117.872128
2023-09-25    118.689567
2023-09-27    120.883088
dtype: float64