In [5]:
tmpList = ['I' , 'AM' , 'study' , 'PYTHON' , 'language' , '!']

for i in tmpList:
    if len(i) >= 3:
        print(i)
    else:
        pass

study
PYTHON
language

In [7]:
tmpList = ['greeting.py' , 'ex01.py' , 'intro.hwp' , 'bigdata.doc']

for data in tmpList:
    print(data.split('.')[0])

greeting
ex01
intro
bigdata

In [10]:
tmpList = ['greeting.py' , 'ex01.py' , 'intro.hwp' , 'bigdata.doc']

for idx, data in enumerate(tmpList):
    print('인덱스 : {} 요소값 : {}'.format(idx,data))

인덱스 : 0 요소값 : greeting.py
인덱스 : 1 요소값 : ex01.py
인덱스 : 2 요소값 : intro.hwp
인덱스 : 3 요소값 : bigdata.doc

In [15]:
price_list = [32100, 32150, 32000, 32500]
for data in range(len(price_list)):
    print(price_list[data])

32100
32150
32000
32500

In [21]:
lst = ["SK하이닉스", "삼성전자", "LG전자"]

for data in lst:
    print("종목 : {}, 문자열 길이 : {}".format(data, len(data)))

종목 : SK하이닉스, 문자열 길이 : 6
종목 : 삼성전자, 문자열 길이 : 4
종목 : LG전자, 문자열 길이 : 4

In [22]:
lst = ['dog', 'cat', 'parrot']

for data in lst:
    print("동물 이름 : {}, 글자수 : {}".format(data, len(data)))

동물 이름 : dog, 글자수 : 3
동물 이름 : cat, 글자수 : 3
동물 이름 : parrot, 글자수 : 6

In [27]:
lst = ["가", "나", "다", "라"]

for idx, data in enumerate(lst):
    if idx%2 == 0:
        print(data)
    else:
        pass
    
for idx, data in enumerate(lst):
    if idx%2 == 0:
        print(data)
    else:
        pass

가
다
가
다

In [28]:
lst = [3, -20, -3, 44]

for data in lst:
    if data < 0:
        print(data)
    else:
        pass

-20
-3

In [30]:
lst = ["A", "b", "c", "D"]

for data in lst:
    if data.isupper() is True:
        print(data)
    else:
        pass

A
D

In [29]:
name = 'FineApplE'

for char in name:
    if char.islower() is True:
        print(char.upper())
    else:
        print(char)

F
I
N
E
A
P
P
L
E

In [13]:
apart = [ ["101호", "102호"], ["201호", "202호"], ["301호", "302호"] ]

for data in apart:
    for ho in data:
        print(ho)
    print('*'*5)

101호
102호
*****
201호
202호
*****
301호
302호
*****

In [15]:
print('구구단 -')

# dan = int(input('단을 입력하세요 : '))
# for gu in range(1, 10):
#     print('{} * {} = {}'.format(dan, gu, (dan*gu)))

i = 2
while i < 10:
    j = 0
    while j < 9:
        j = j+1
        print('{} * {} = {}'.format(i,j,i*j), end=' ')
    i = i+1
    print('*'*5)

구구단 -
2 * 1 = 2 2 * 2 = 4 2 * 3 = 6 2 * 4 = 8 2 * 5 = 10 2 * 6 = 12 2 * 7 = 14 2 * 8 = 16 2 * 9 = 18 *****
3 * 1 = 3 3 * 2 = 6 3 * 3 = 9 3 * 4 = 12 3 * 5 = 15 3 * 6 = 18 3 * 7 = 21 3 * 8 = 24 3 * 9 = 27 *****
4 * 1 = 4 4 * 2 = 8 4 * 3 = 12 4 * 4 = 16 4 * 5 = 20 4 * 6 = 24 4 * 7 = 28 4 * 8 = 32 4 * 9 = 36 *****
5 * 1 = 5 5 * 2 = 10 5 * 3 = 15 5 * 4 = 20 5 * 5 = 25 5 * 6 = 30 5 * 7 = 35 5 * 8 = 40 5 * 9 = 45 *****
6 * 1 = 6 6 * 2 = 12 6 * 3 = 18 6 * 4 = 24 6 * 5 = 30 6 * 6 = 36 6 * 7 = 42 6 * 8 = 48 6 * 9 = 54 *****
7 * 1 = 7 7 * 2 = 14 7 * 3 = 21 7 * 4 = 28 7 * 5 = 35 7 * 6 = 42 7 * 7 = 49 7 * 8 = 56 7 * 9 = 63 *****
8 * 1 = 8 8 * 2 = 16 8 * 3 = 24 8 * 4 = 32 8 * 5 = 40 8 * 6 = 48 8 * 7 = 56 8 * 8 = 64 8 * 9 = 72 *****
9 * 1 = 9 9 * 2 = 18 9 * 3 = 27 9 * 4 = 36 9 * 5 = 45 9 * 6 = 54 9 * 7 = 63 9 * 8 = 72 9 * 9 = 81 *****

In [9]:
lst = ['dog', 'cat', 'parrot']

for name in lst:
    print(list(name)[0])

d
c
p